$fullwidth: 100%;
$two: 2;

@mixin scaleX($angle) {
  -webkit-transform: scaleX($angle);
  -moz-transform: scaleX($angle);
  transform: scaleX($angle);
}

@mixin link-underline($color) {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    height: 2px;
    background: $color;
    @include scaleX(0);
    transition: -webkit-transform .15s ease-in {
      transform: .15s ease-in;
      transform: .15s ease-in,-webkit-transform .15s ease-in;
    }
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }

  &:hover::after {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }

}

@mixin responsive-width($offset-base) {
  @for $i from 0 through 4 {
    $max-width: 700px + $i * 150px;
    $offset: $i * $offset-base;
    @media screen and (min-width: 1000px + $i * 200px) {
      max-width: $max-width - $offset;
      padding-left: calc((#{$fullwidth} - #{$max-width}) / 2);
      padding-right: calc(((#{$fullwidth} - #{$max-width}) / #{$two}) - #{$offset});
    }
  }
}

body,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  color: #303D49;
  background: #f8f8f9;
  min-height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
}

.clearfix::after {
  display:block; 
  content: ".";
  clear: both;
  line-height: 0;
  visibility:hidden;
}

.App-header{
  width: 100%;
  position: fixed;
  padding-top: 40px;
  color: #1c1b1b;
  transition: .2s;
  z-index: 99;
  @include responsive-width(0px);
  font-family: "Lucida Grande";

  &.header-docked {
    padding-top: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);

    .slogan {
      display: none;
    }
  }
}

.navbar-brand {
  float: left;

  .logo {
    height: 40px;
    line-height: 40px;
    padding-top: 20px;
    font-size: 24px;
  }

  .slogan {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    margin-top: -3px;
  }
}

.navbar-right {
  float: right;
  font-weight: 500;

  .nav-item {
    height: 80px;
    line-height: 80px;
    float: left;
    margin-left: 30px;

    a {
      @include link-underline(#1c1b1b);
    } 
  }

  .nav-item:first-child{
    margin-left: 0;
  }
}

.jumbotron {
  height: 300px;
  margin: 0 auto;
  padding-top: 210px;
  @include responsive-width(0px);

  h1 {
    margin-bottom: 30px;

    span {
      display: block;
      font: {
        size: 46px;
        weight: 100;
      }
    }
  }

  .download-link {
    color: #42c5d8;
    font-size: 14px;
    text-transform: uppercase;
    @include link-underline(#42c5d8);
  }
}

.presentation {
  width: 850px;
  height: 525px;
  margin: 0 auto;
}

.main {
  height: 600px;
  padding-top: 320px;
  margin-top: -160px;
  background-color: #fff;
  @include responsive-width(30px);

  .advantage {
    .item {
      margin-bottom: 45px;

      h4 {
        margin: 0;
        margin-bottom: 15px;
      }
    }
  }
}

.footer {
  padding-top: 116px;
  padding-bottom: 135px;
  margin-top: 400px;
  background: linear-gradient(90deg,#1c1b1b 0,#1c1b1b 50%,transparent 0,transparent);
  @include responsive-width(0px);

  .footer-left {
    color: #fff;
    float: left;
    margin-left: 80px;

    .logo {
      height: 40px;
      line-height: 40px;
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 116px;
      font-family: "Lucida Grande";
    }

    .nav {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.70);
      margin-bottom: 116px;

      li {
        height: 24px;
        line-height: 24px;
        margin-bottom: 15px;
      }
    }
    
    .copyright {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.40);
    }
  }
}
