body,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

h1 {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

.App {
  color: #303D49;
  background: #f8f8f9;
  min-height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei"; }

.clearfix::after {
  display: block;
  content: ".";
  clear: both;
  line-height: 0;
  visibility: hidden; }

.App-header {
  height: 80px;
  width: 100%;
  position: fixed;
  padding-top: 40px;
  color: #1c1b1b;
  transition: .2s;
  z-index: 99;
  font-family: "Lucida Grande"; }
  @media screen and (min-width: 300px) {
    .App-header {
      max-width: 290px;
      padding-left: calc((100% - 290px) / 2);
      padding-right: calc(((100% - 290px) / 2) - 0px); } }
  @media screen and (min-width: 400px) {
    .App-header {
      max-width: 390px;
      padding-left: calc((100% - 390px) / 2);
      padding-right: calc(((100% - 390px) / 2) - 0px); } }
  @media screen and (min-width: 500px) {
    .App-header {
      max-width: 490px;
      padding-left: calc((100% - 490px) / 2);
      padding-right: calc(((100% - 490px) / 2) - 0px); } }
  @media screen and (min-width: 600px) {
    .App-header {
      max-width: 500px;
      padding-left: calc((100% - 500px) / 2);
      padding-right: calc(((100% - 500px) / 2) - 0px); } }
  @media screen and (min-width: 700px) {
    .App-header {
      max-width: 600px;
      padding-left: calc((100% - 600px) / 2);
      padding-right: calc(((100% - 600px) / 2) - 0px); } }
  @media screen and (min-width: 800px) {
    .App-header {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 900px) {
    .App-header {
      max-width: 800px;
      padding-left: calc((100% - 800px) / 2);
      padding-right: calc(((100% - 800px) / 2) - 0px); } }
  @media screen and (min-width: 1000px) {
    .App-header {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 1200px) {
    .App-header {
      max-width: 850px;
      padding-left: calc((100% - 850px) / 2);
      padding-right: calc(((100% - 850px) / 2) - 0px); } }
  @media screen and (min-width: 1400px) {
    .App-header {
      max-width: 1000px;
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc(((100% - 1000px) / 2) - 0px); } }
  @media screen and (min-width: 1600px) {
    .App-header {
      max-width: 1150px;
      padding-left: calc((100% - 1150px) / 2);
      padding-right: calc(((100% - 1150px) / 2) - 0px); } }
  @media screen and (min-width: 1800px) {
    .App-header {
      max-width: 1300px;
      padding-left: calc((100% - 1300px) / 2);
      padding-right: calc(((100% - 1300px) / 2) - 0px); } }
  .App-header.header-docked {
    padding-top: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .App-header.header-docked .slogan {
      display: none; }

.navbar-brand {
  float: left; }
  .navbar-brand .logo {
    height: 40px;
    line-height: 40px;
    padding-top: 20px;
    font-size: 24px; }
  .navbar-brand .slogan {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    margin-top: -3px; }

.navbar-right {
  float: right;
  font-weight: 500; }
  .navbar-right .nav-item {
    height: 80px;
    line-height: 80px;
    float: left;
    margin-left: 30px; }
    .navbar-right .nav-item a {
      position: relative; }
      .navbar-right .nav-item a::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        right: 0;
        height: 2px;
        background: #1c1b1b;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        transform: scaleX(0);
        transition: -webkit-transform 0.15s ease-in;
          transition-transform: .15s ease-in;
          transition-transform: .15s ease-in,-webkit-transform .15s ease-in;
        -webkit-transform-origin: right center;
        transform-origin: right center; }
      .navbar-right .nav-item a:hover::after {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: left center;
        transform-origin: left center; }
  .navbar-right .nav-item:first-child {
    margin-left: 0; }

.jumbotron {
  height: 300px;
  margin: 0 auto;
  padding-top: 210px; }
  @media screen and (min-width: 300px) {
    .jumbotron {
      max-width: 290px;
      padding-left: calc((100% - 290px) / 2);
      padding-right: calc(((100% - 290px) / 2) - 0px); } }
  @media screen and (min-width: 400px) {
    .jumbotron {
      max-width: 390px;
      padding-left: calc((100% - 390px) / 2);
      padding-right: calc(((100% - 390px) / 2) - 0px); } }
  @media screen and (min-width: 500px) {
    .jumbotron {
      max-width: 490px;
      padding-left: calc((100% - 490px) / 2);
      padding-right: calc(((100% - 490px) / 2) - 0px); } }
  @media screen and (min-width: 600px) {
    .jumbotron {
      max-width: 500px;
      padding-left: calc((100% - 500px) / 2);
      padding-right: calc(((100% - 500px) / 2) - 0px); } }
  @media screen and (min-width: 700px) {
    .jumbotron {
      max-width: 600px;
      padding-left: calc((100% - 600px) / 2);
      padding-right: calc(((100% - 600px) / 2) - 0px); } }
  @media screen and (min-width: 800px) {
    .jumbotron {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 900px) {
    .jumbotron {
      max-width: 800px;
      padding-left: calc((100% - 800px) / 2);
      padding-right: calc(((100% - 800px) / 2) - 0px); } }
  @media screen and (min-width: 1000px) {
    .jumbotron {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 1200px) {
    .jumbotron {
      max-width: 850px;
      padding-left: calc((100% - 850px) / 2);
      padding-right: calc(((100% - 850px) / 2) - 0px); } }
  @media screen and (min-width: 1400px) {
    .jumbotron {
      max-width: 1000px;
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc(((100% - 1000px) / 2) - 0px); } }
  @media screen and (min-width: 1600px) {
    .jumbotron {
      max-width: 1150px;
      padding-left: calc((100% - 1150px) / 2);
      padding-right: calc(((100% - 1150px) / 2) - 0px); } }
  @media screen and (min-width: 1800px) {
    .jumbotron {
      max-width: 1300px;
      padding-left: calc((100% - 1300px) / 2);
      padding-right: calc(((100% - 1300px) / 2) - 0px); } }
  .jumbotron h1 {
    margin-bottom: 30px; }
    .jumbotron h1 span {
      display: block;
      font-size: 46px;
      font-weight: 100; }
  .jumbotron .download-link {
    color: #42c5d8;
    font-size: 14px;
    text-transform: uppercase;
    position: relative; }
    .jumbotron .download-link::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(100% + 8px);
      left: 0;
      right: 0;
      height: 2px;
      background: #42c5d8;
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      transform: scaleX(0);
      transition: -webkit-transform 0.15s ease-in;
        transition-transform: .15s ease-in;
        transition-transform: .15s ease-in,-webkit-transform .15s ease-in;
      -webkit-transform-origin: right center;
      transform-origin: right center; }
    .jumbotron .download-link:hover::after {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: left center;
      transform-origin: left center; }

.presentation {
  width: 850px;
  line-height: 0;
  margin: 0 auto;
  overflow: hidden; }
  @media screen and (max-width: 865px) {
    .presentation {
      width: 100%; } }

.main {
  padding-top: 320px;
  margin-top: -160px;
  background-color: #fff; }
  @media screen and (min-width: 300px) {
    .main {
      max-width: 290px;
      padding-left: calc((100% - 290px) / 2);
      padding-right: calc(((100% - 290px) / 2) - 0px); } }
  @media screen and (min-width: 400px) {
    .main {
      max-width: 390px;
      padding-left: calc((100% - 390px) / 2);
      padding-right: calc(((100% - 390px) / 2) - 0px); } }
  @media screen and (min-width: 500px) {
    .main {
      max-width: 490px;
      padding-left: calc((100% - 490px) / 2);
      padding-right: calc(((100% - 490px) / 2) - 0px); } }
  @media screen and (min-width: 600px) {
    .main {
      max-width: 500px;
      padding-left: calc((100% - 500px) / 2);
      padding-right: calc(((100% - 500px) / 2) - 0px); } }
  @media screen and (min-width: 700px) {
    .main {
      max-width: 600px;
      padding-left: calc((100% - 600px) / 2);
      padding-right: calc(((100% - 600px) / 2) - 0px); } }
  @media screen and (min-width: 800px) {
    .main {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 900px) {
    .main {
      max-width: 800px;
      padding-left: calc((100% - 800px) / 2);
      padding-right: calc(((100% - 800px) / 2) - 0px); } }
  @media screen and (min-width: 1000px) {
    .main {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 1200px) {
    .main {
      max-width: 820px;
      padding-left: calc((100% - 850px) / 2);
      padding-right: calc(((100% - 850px) / 2) - 30px); } }
  @media screen and (min-width: 1400px) {
    .main {
      max-width: 940px;
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc(((100% - 1000px) / 2) - 60px); } }
  @media screen and (min-width: 1600px) {
    .main {
      max-width: 1060px;
      padding-left: calc((100% - 1150px) / 2);
      padding-right: calc(((100% - 1150px) / 2) - 90px); } }
  @media screen and (min-width: 1800px) {
    .main {
      max-width: 1180px;
      padding-left: calc((100% - 1300px) / 2);
      padding-right: calc(((100% - 1300px) / 2) - 120px); } }
  @media screen and (max-width: 800px) {
    .main {
      margin-top: -260px; } }
  .main .advantage {
    margin: 0 -20px; }
    .main .advantage .item-wrap {
      margin-bottom: 50px;
      width: 50%;
      float: left; }
      @media screen and (max-width: 800px) {
        .main .advantage .item-wrap {
          width: 80%;
          max-width: 500px;
          margin: 0 auto;
          margin-bottom: 50px;
          float: none; } }
      .main .advantage .item-wrap .item {
        margin: 0 20px;
        transition: transform .3s ease-out; }
        .main .advantage .item-wrap .item img {
          width: 100%; }
        .main .advantage .item-wrap .item .description {
          padding: 15px 30px 30px; }
          .main .advantage .item-wrap .item .description h4 {
            margin: 0;
            margin-bottom: 15px; }
          .main .advantage .item-wrap .item .description span {
            display: block;
            color: rgba(28, 27, 27, 0.6); }
        .main .advantage .item-wrap .item:hover {
          box-shadow: 2px 8px 20px 0 rgba(31, 32, 68, 0.25);
          -webkit-transform: scale(1.01);
          transform: scale(1.01); }

.footer {
  padding-top: 116px;
  padding-bottom: 135px;
  margin-top: 300px;
  background: linear-gradient(90deg, #1c1b1b 0, #1c1b1b 51%, transparent 0, transparent); }
  @media screen and (min-width: 300px) {
    .footer {
      max-width: 290px;
      padding-left: calc((100% - 290px) / 2);
      padding-right: calc(((100% - 290px) / 2) - 0px); } }
  @media screen and (min-width: 400px) {
    .footer {
      max-width: 390px;
      padding-left: calc((100% - 390px) / 2);
      padding-right: calc(((100% - 390px) / 2) - 0px); } }
  @media screen and (min-width: 500px) {
    .footer {
      max-width: 490px;
      padding-left: calc((100% - 490px) / 2);
      padding-right: calc(((100% - 490px) / 2) - 0px); } }
  @media screen and (min-width: 600px) {
    .footer {
      max-width: 500px;
      padding-left: calc((100% - 500px) / 2);
      padding-right: calc(((100% - 500px) / 2) - 0px); } }
  @media screen and (min-width: 700px) {
    .footer {
      max-width: 600px;
      padding-left: calc((100% - 600px) / 2);
      padding-right: calc(((100% - 600px) / 2) - 0px); } }
  @media screen and (min-width: 800px) {
    .footer {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 900px) {
    .footer {
      max-width: 800px;
      padding-left: calc((100% - 800px) / 2);
      padding-right: calc(((100% - 800px) / 2) - 0px); } }
  @media screen and (min-width: 1000px) {
    .footer {
      max-width: 700px;
      padding-left: calc((100% - 700px) / 2);
      padding-right: calc(((100% - 700px) / 2) - 0px); } }
  @media screen and (min-width: 1200px) {
    .footer {
      max-width: 850px;
      padding-left: calc((100% - 850px) / 2);
      padding-right: calc(((100% - 850px) / 2) - 0px); } }
  @media screen and (min-width: 1400px) {
    .footer {
      max-width: 1000px;
      padding-left: calc((100% - 1000px) / 2);
      padding-right: calc(((100% - 1000px) / 2) - 0px); } }
  @media screen and (min-width: 1600px) {
    .footer {
      max-width: 1150px;
      padding-left: calc((100% - 1150px) / 2);
      padding-right: calc(((100% - 1150px) / 2) - 0px); } }
  @media screen and (min-width: 1800px) {
    .footer {
      max-width: 1300px;
      padding-left: calc((100% - 1300px) / 2);
      padding-right: calc(((100% - 1300px) / 2) - 0px); } }
  @media screen and (max-width: 800px) {
    .footer {
      margin-top: 150px;
      background: linear-gradient(90deg, #1c1b1b 0, #1c1b1b 100%, transparent 0, transparent); } }
  .footer .footer-left {
    color: #fff;
    float: left;
    margin-left: 80px;
    font-family: "Lucida Grande"; }
    .footer .footer-left .logo {
      height: 40px;
      line-height: 40px;
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 116px; }
    .footer .footer-left .nav {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.65);
      margin-bottom: 116px; }
      .footer .footer-left .nav li {
        height: 24px;
        line-height: 24px;
        margin-bottom: 15px; }
        .footer .footer-left .nav li a {
          position: relative; }
          .footer .footer-left .nav li a::after {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 8px);
            left: 0;
            right: 0;
            height: 2px;
            background: rgba(255, 255, 255, 0.65);
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            transform: scaleX(0);
            transition: -webkit-transform 0.15s ease-in;
              transition-transform: .15s ease-in;
              transition-transform: .15s ease-in,-webkit-transform .15s ease-in;
            -webkit-transform-origin: right center;
            transform-origin: right center; }
          .footer .footer-left .nav li a:hover::after {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: left center;
            transform-origin: left center; }
    .footer .footer-left .copyright {
      font-weight: 300;
      color: rgba(255, 255, 255, 0.4); }
      .footer .footer-left .copyright .viosey {
        color: rgba(255, 255, 255, 0.5);
        position: relative; }
        .footer .footer-left .copyright .viosey::after {
          content: "";
          display: block;
          position: absolute;
          top: calc(100% + 8px);
          left: 0;
          right: 0;
          height: 2px;
          background: rgba(255, 255, 255, 0.5);
          -webkit-transform: scaleX(0);
          -moz-transform: scaleX(0);
          transform: scaleX(0);
          transition: -webkit-transform 0.15s ease-in;
            transition-transform: .15s ease-in;
            transition-transform: .15s ease-in,-webkit-transform .15s ease-in;
          -webkit-transform-origin: right center;
          transform-origin: right center; }
        .footer .footer-left .copyright .viosey:hover::after {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-transform-origin: left center;
          transform-origin: left center; }
